:root{
    --main-text-color:#757575;
    --sec-text-color:#212121;
    --acsent-text-color:#FFFFFF;
    --acsent-cec-text-color:#2196F3;

    --main-bgc:#F5F5F5;
    --sec-bgc:#F5F4FA;
    --acsent-bgc:#2F303A;

    --main-text-size: 16px;
}



body {
    background: var(--main-bgc); 
    color: var(--main-text-color);
    font-size: var(--main-text-size);
    font-family: roboto, sans-serif;
}

ul {
list-style: none;
}


a {
    text-decoration: none;
   color: var(--main-text-color);
}

.logo {
    color: var(--acsent-cec-text-color);
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: ralewey, sans-serif;
}

.logo-acsent{
    color: var(--sec-text-color);
    text-transform: capitalize;
}

.nav_link {
    text-transform: capitalize;
}

.nav_link:hover,
.nav_link:focus {
    color: var(--acsent-cec-text-color);
}

.contacts:hover,
.contacts:focus {
    color: var(--acsent-cec-text-color);
}

.hero {
    background-color: var(--acsent-bgc);
}

.hero_title {
    font-size: 44px;
    color: var(--acsent-text-color);
    text-transform: uppercase;
}

.hero_button {
     background-color: var(--acsent-cec-text-color);
     color: var(--acsent-text-color);

}

.features_item-title {
    color: var(--sec-text-color);
    font-weight: 700;
    text-transform: capitalize;
}

.our-work_title {
    color: var(--sec-text-color);
    font-size: 36px;
    font-weight: 700;

}

.team {
    background-color: var(--sec-bgc);
}

.team_title {
    color: var(--sec-text-color);
}

.team_item-title {
    color: var(--sec-text-color);
}

.footer {
    background-color: var(--acsent-bgc);
}

.footer .logo-acsent {
    color: var(--acsent-text-color);
}

.address {
    font-style: normal;
    color: var(--acsent-text-color);
}

.address-map {
color: var(--acsent-text-color);
}

.address-mail,
.address-tel {
    color: rgba(255, 255, 255, 0.6);
}