:root{
    --main-text-color:#757575;
    --sec-text-color:#212121;
    --acsent-text-color:#FFFFFF;
    --acsent-cec-text-color:#2196F3;

    --main-bgc:#F5F5F5;
    --sec-bgc:#F5F4FA;
    --acsent-bgc:#2F303A;

    --main-text-size: 16px;
}


body {
    background: var(--main-bgc); 
    color: var(--main-text-color);
    font-size: var(--main-text-size);

}

ul {
list-style: none;
}
a {text-decoration: none;}
a {color: var(--main-text-color);}